Listas:

In [39]:
letras = ["def", "abc","xyz"]

#letras.sort()
# sort ordena las listas, alfabeticamente, o numericamente. sort reverse hace lo mismo a la inversa.
eliminar = letras.pop ("abc")
print (eliminar)

TypeError: 'str' object cannot be interpreted as an integer

In [1]:
numeros= [2,5,8,54,3,6,78]

print(numeros.pop())
#con el parametro vacio solo deja el ultimo valor, el resto lo elimina

78

In [6]:
numeros= [2,5,8,54,3,6,78]

eliminar = numeros.pop(3)

print("Lista actualizada", numeros)
print("numero eliminado ", eliminar)

Lista actualizada [2, 5, 8, 3, 6, 78]
numero eliminado  54

Diccionarios: coleccion desordenada de elementos. {clave:valor}

In [7]:
diccionario = {'nombre':'Victor', 'edad':23}

print(diccionario['edad'])

23

In [11]:
datos_personales = {'Pais': 'Italia', 'Ciudad': 'Roma'}
datos_personales['Ciudad'] ='Milan'  #fomar de reemplazar dentro del diccionario
print(datos_personales)

{'Pais': 'Italia', 'Ciudad': 'Milan'}

In [13]:
dict = {'Jose':18,'David':23,'Camila':19,'Maria':22}
dict.update({'Raul':33}) #actualiza los datos y agrega.
del dict['David'] #para eliminar un dato
print(dict)

{'Jose': 18, 'Camila': 19, 'Maria': 22, 'Raul': 33}

In [14]:
#Combinacion de diccionario con listas
dict = {'Jose':18,'David':23,'Camila':19,'Maria':22}
varones = {'Jose':18,'David':23}
mujeres = {'Camila':19,'Maria':22}
estudiantes = list(dict.keys())
estudiantes.sort() 
for e in estudiantes:
    print(" : ".join((e,str(dict[e]))))

Camila : 19
David : 23
Jose : 18
Maria : 22

Tuplas: es como una lista pero estas son inalterables unas vez asignadas.

In [18]:
tupla = (0,1,2,3,4,5)
#tupla[0] = 1000 no soporta este tipo de asignacion
print(tupla)

(0, 1, 2, 3, 4, 5)

In [19]:
tupla_a = (0,1,2,3,4)
tupla_b = ('uno','dos','tres')
print(tupla_a+tupla_b) #contatenar tuplas.

(0, 1, 2, 3, 4, 'uno', 'dos', 'tres')

In [22]:
tupla_c = ('Python ')*4
print(tupla_c)

Python Python Python Python

In [23]:
tupla = (1,5,6,8,5,2,3,4,5)
repetido= tupla.count(5)
print(repetido)

3

In [24]:
tupla = (1,5,6,8,5,2,3,4,5)
primero= tupla.index(5)
print(primero)

1

In [26]:
#convercion de tupla a lista y lista a tupla.
x = ('rojo', 'amarillo', 'verde')
y = list(x)
y[1]= 'negro'
x = tuple(y)
print(x)

('rojo', 'negro', 'verde')

Conjuntos (set): son una coleccion de elementos unicos de forma desordenada e inmutable.

In [27]:
conjunto = {1,2,3,4,5}
print(conjunto)

{1, 2, 3, 4, 5}

In [29]:
set = {1,2,3,4.6,5,'python',('w','t')}
print(set)

{1, 2, 3, 4.6, 5, ('w', 't'), 'python'}

In [31]:
set = {1,2,3,4,5}
set.add(6) #agregar 
print(set)

{1, 2, 3, 4, 5, 6}

In [32]:
set = {1,2,3,4,5}
set.clear() #eliminar todo 
print(set)

set()

In [33]:
set = {1,2,3,4,5}
set.discard(2) #descartar el valor de parametro
print(set)

{1, 3, 4, 5}

In [34]:
set = {1,2,3,4,5}
set.remove(2) #remove difiere de discard en que con remove al buscar el dato eliminado no lo encontraria. 
print(set)

{1, 3, 4, 5}

In [35]:
A = {1,2,3,4,5}
B= {4,5,6,7,8}

print(A | B) #conbima los conjuntos sin repetir datos. Es Union de conjuntos.

{1, 2, 3, 4, 5, 6, 7, 8}

In [36]:
A = {1,2,3,4,5}
B= {4,5,6,7,8}

print(A & B) #busca los elementos en comun de ambos conjuntos. Se llama interseccion

{4, 5}

In [37]:
A = {1,2,3,4,5}
B= {4,5,6,7,8}

print(A - B) #diferencia

{1, 2, 3}

In [38]:
A = {1,2,3,4,5}
B= {4,5,6,7,8}

print(A ^ B) #diferencia simetrica, no toma en cuanta los elementos que estan ambos conjuntos.

{1, 2, 3, 6, 7, 8}

Range: Genera numeros enteros entre el inicial y el final

In [2]:
print(list(range(0,7))) #el resultado sera el punto inicial y el anterior al final.

[0, 1, 2, 3, 4, 5, 6]

In [3]:
for i in range(0,7):
    print(i)

0
1
2
3
4
5
6

In [7]:
for i in range(0,7):
    print(i, end= ', ') # con end= tenemos el mismo ejercicio anterior pero con resultado horizontal separado por comas.

0, 1, 2, 3, 4, 5, 6,

In [8]:
for i in range(2,10,2):
    print(i, end= ', ') #inicio (2) y final (10), el tercer elemento dictamina la cantidad de pasos, en este ejemplo de 2 en 2

2, 4, 6, 8,

In [9]:
for i in range(1,10,2):
    print("el valor de i es: ", i) #lo mismo pero con numero inpar y con mensaje

el valor de i es:  1
el valor de i es:  3
el valor de i es:  5
el valor de i es:  7
el valor de i es:  9

In [10]:
for num in range(10): #asi declaramos el punto final
    for i in range (num): #aca declaramos el punto inicial
        print(num, end= ' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

In [11]:
for i in reversed(range (0,10)): #con reversed invertimos el range.
    print(i)

9
8
7
6
5
4
3
2
1
0

In [12]:
generar_lista = list(range(1,8)) #generar una lista con un range.
print("lista", generar_lista)

lista [1, 2, 3, 4, 5, 6, 7]

Compresion de listas.

In [2]:
curso = []
for letras in 'python': #creamos un for para que recorra las letras...
    curso.append(letras)  # con append dentro del for agregamos a la lista el recorrido del for.
print(curso)

['p', 'y', 't', 'h', 'o', 'n']

In [7]:
curso =[letras for letras in 'python']
print(curso)

#El código en Python que proporcionaste es una forma de crear una lista utilizando una list comprehension. Te explicaré cada parte teórica detrás de este código:

#List Comprehension: Esta es una manera concisa y eficiente de crear listas en Python. En lugar de usar un bucle for tradicional para llenar una lista, puedes usar una sintaxis más compacta.

#Estructura del código:

#curso = [letras for letras in 'python']: #Aquí, curso es una nueva lista que se está creando.
#[letras for letras in 'python']: #Dentro de los corchetes, se está utilizando una list comprehension.
#Lo que está sucediendo es que for letras in 'python' recorre cada carácter de la cadena 'python'.
#Por cada carácter, se asigna a la variable letras, y esa variable se incluye en la nueva lista.
#Resultado: Al final, se crea una lista que contiene cada uno de los caracteres de la cadena 'python'. Entonces, si imprimes curso, obtendrás:
#['p', 'y', 't', 'h', 'o', 'n']
#$Print: La instrucción print(curso) simplemente muestra en pantalla el contenido de la lista curso.

#Por lo tanto, este código crea una lista de los caracteres que componen la palabra "python" y lo imprime.

['p', 'y', 't', 'h', 'o', 'n']

In [8]:
#Alternativa "A"
lista_a = [1,2,3,4,5,6]
lista_b = []

for i in lista_a:
    para_lista_b = i
    lista_b.append(para_lista_b)
print(lista_b)

[1, 2, 3, 4, 5, 6]

In [9]:
#Alternativa "B" con compresion de lista.
lista_a = [1,2,3,4,5,6]
lista_b = [i*2 for i in lista_a]

print(lista_b)

[2, 4, 6, 8, 10, 12]

Funciones:

In [16]:
def mi_funcion(nombre,edad):
    print("Hola, mi nombre es "+nombre+' con la edad de',edad)

mi_funcion('Ricardo',34)

Hola, mi nombre es Ricardocon la edad de 34

In [18]:
def suma(n1,n2):
    operacion = n1+n2
    return operacion
suma(5,6)

11

In [19]:
#version simplificada def suma:
def suma(n1,n2):
    return n1+n2
suma(8,3)

11

In [22]:
def mi_funcion():
    x = 50
    print('numero: ' ,x)
mi_funcion()

numero:  50

In [23]:
def suma():
    a=10
    b=20
    c=a+b
    return c
print(suma())

30

In [27]:
def mi_funcion():
    x=40
    print('variable local: ',x)
x=80

mi_funcion() # aca esta llamando a la funcion
print('variable global: ',x) # aca a la variable, por eso tengo ambos resultados.

variable local:  40
variable global:  80

Funciones MAP: ejecuta una funcion especifica para cada elemento iterable. Uso en listas, tuplas y conjuntos.

In [28]:
def mult(n):
    return n*5
lista = [1,2,3,4,5,6,7]
lista_map = list(map(mult,lista)) # la funcion map recorre la lista y la multiplica por el valor del return
print(lista_map)

[5, 10, 15, 20, 25, 30, 35]

In [31]:
def cursos (c):
    return c.upper()
tupla = ('php', 'python', 'java', 'dart','css')
tupla_actualizada = tuple(map(cursos,tupla))
print(tupla_actualizada)

('PHP', 'PYTHON', 'JAVA', 'DART', 'CSS')

Filter: crea un nuevo iterador a partir de un iterable existente

In [32]:
def impares(n):
    if(n %2 ==1):
        return n
lista = [1,2,3,4,5,6]
lista_impares = list(filter(impares,lista))
print(lista_impares)

[1, 3, 5]

Lambda: es una funcion anonima, porque se defini sin nombre.

In [33]:
#explicacion teorica sin lambda
def doble(x):
    return x*2
print(doble(20))

40

In [35]:
doble = lambda x:x*2
print(doble(30))

60

In [36]:
lista = [1,5,6,78,9,5,4,67,8,24,12]
lista_pares = list(filter(lambda x:(x%2==0),lista)) #lambda con Filter
print(lista_pares)

[6, 78, 4, 8, 24, 12]

In [37]:
lista = [4,5,7,98,5,2,4,6]
lista_doble = list(map(lambda x:x*2,lista)) #lambda con Map
print(lista_doble)

[8, 10, 14, 196, 10, 4, 8, 12]